<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>

    <title>SAMPLAB</title>
</head>

<body>
    <nav class="main-nav">
        <h1>SAMPLAB</h1>
    </nav>

    <div class="base">
        
    <section class="body">
        <div class="box box-a">
            <table class="signal-table" id="signals">
              <tr>
                <th>Name</th>
                <th>Frequency</th>
                <th>Amplitude</th>

              </tr>
              <tr>
                <td>Signal 1</td>
                <td>Hz</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Signal 2</td>
                <td>Hz</td>
                <td>0</td>
              </tr>

            </table>
            <a href="" class="btn">Add</a>

        </div>
        <div class="box box-b">
           <table class="signal-table" id="current-signals">
              <tr>
                <th>Name</th>
                <th>Frequency</th>
                <th>Amplitude</th>

              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
            <a href="" class="btn">Remove</a>
        </div>
        <header class="plotting">
            <canvas class="canvas" id="canvas-1" ></canvas>
        </header>
    </section>


</div>

</body>
