<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SBM24 Sampling Studio</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<!--The Navigation panel -->
<div class="myNav">

</div>

<!-- The Body Container-->
<div>

    <!--  Container Right  -->
    <div class="myContainer">

        <!--  Plot 1 div  -->
        <div id="plot1"></div>

        <!--  Plot 2 div  -->
        <div id="plot2"></div>
    </div>

    <!--  Container left  -->
    <div class="myContainer">

    </div>

</div>
<script src="../static/js/jquery-3.6.1.min.js"></script>
<script src="../static/js/Generate%20SIgnal.js"></script>
</body>
</html>